@font-face {
  font-family: "icomoon";
  src: url("./font/icomoon.eot?tyxm9t");
  src: url("./font/icomoon.eot?tyxm9t#iefix") format("embedded-opentype"),
    url("./font/icomoon.ttf?tyxm9t") format("truetype"),
    url("./font/icomoon.woff?tyxm9t") format("woff"),
    url("./font/icomoon.svg?tyxm9t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-arrow:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-warning:before {
  content: "\e907";
}
.icon-descarga:before {
  content: "\e908";
}
